.nav-link {
  color: black;
  cursor: pointer;
}

.navbar {
  background-color: #F5F5F5 !important;
  height: 100%;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.nav-item {
  transition: background-color 0.3s ease;
  filter: brightness(1);
  padding: 10px;
}

.nav-item:hover {
  background-color: rgba(245, 245, 245, 0.8);
  filter: brightness(0.9);
}